.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            font-weight: 600px;
            font-size: 20px;
            color: darkblue;
        } 
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            padding :5px;
            border-radius: 5px;
            input{
                border:none;
                width: 500px;
                outline: none;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 400;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}